<mat-tab-group mat-align-tabs="start" class="tab-group">
  <mat-tab label="By Client">
    <form class="dialog-form" [formGroup]="clfForm">
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Search by client</mat-label>
      <input matInput formControlName="client" placeholder="Ip Address">
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <button mat-raised-button (click)="onSubmitClient()" class="button" color="accent">
      <mat-icon>search</mat-icon> Search
    </button>
  </form>
  </mat-tab>
  <mat-tab label="By Request Date">
    <form class="dialog-form" [formGroup]="clfForm">
      <mat-form-field appearance="standard" class="form-field">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="requestDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="standard" class="form-field">
        <mat-label>Request time</mat-label>
        <input matInput formControlName="time" type="time" step="1">
        <!-- <mat-icon>search</mat-icon> -->
      </mat-form-field>
      <mat-form-field appearance="standard" class="form-field">
        <mat-label>Time Zone</mat-label>
        <mat-select formControlName="timeZone" (change)="eventSelection($event.value)">
          <mat-option *ngFor="let timeZoneItem of timeZoneList" [value]="timeZoneItem">{{ timeZoneItem }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="onSubmitRequestDate()" class="button" color="accent">
        <mat-icon>search</mat-icon> Search
      </button>
    </form>
  </mat-tab>
  <mat-tab label="By User Agent">
    <form [formGroup]="clfForm">
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Search by user agent</mat-label>
      <input matInput formControlName="userAgent" placeholder="User Agent">
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <button mat-raised-button (click)="onSubmitUserAgent()" class="button" color="accent">
      <mat-icon>search</mat-icon> Search
    </button>
  </form>
  </mat-tab>
</mat-tab-group>
<app-table *ngIf="clfs" [dataSource]="clfs"></app-table>